html{
    scroll-behavior: auto !important;
}
body{
    background-color: #F7EFE2;

}

h1{
    color: #61723F;
    font-family: 'Bree Serif', serif;
}

p{
    font-family: 'Montserrat', sans-serif;
}


.nav-link{
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand{
    font-family: 'Bree Serif', serif;
    color: #ffff;

}



.destacados{
    padding: 3% 10%;
}

.quienes{
    padding: 3% 10%;
}



a{
    padding-left: 2%;
    color:white; 
}

.iconos{
    background-color: #61723F;
}

i{
   color: #ffffff;
   padding-top: 3%;
   padding-bottom: 3%;
   
}

footer{
    background-color: #61723F;
    min-width: 100%; 
}

.footer-txt{
    color: #ffff;
    font-family: 'Bree Serif', serif;
}

.container{
    min-width: 100%; 
}

.formulario{
    padding: 3% 10%;
}


