body{
    background-color: #F7EFE2;
}

.destacados{
    background-color: #ffff;
}

h1{
    color: #61723F;
    font-family: 'Bree Serif', serif;
}

footer{
    background-color: #61723F;
}

.nav-link{
    font-family: 'Montserrat', sans-serif;
}
.navbar-brand{
    font-family: 'Bree Serif', serif;
    color: #ffff;

}

p{
    font-family: 'Montserrat', sans-serif;
}

.iconos{
    background-color: #61723F;
}

i{
   color: #ffffff;
   
   padding-top: 3%;
   padding-bottom: 3%;
   
}


.footer-txt{
    color: #ffff;
    font-family: 'Bree Serif', serif;
}

.container{
    min-width: 100%; 
}

.formulario{
    padding: 5% 0;
}

span{
    padding-left: 2%;
    color:white;
}